/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
    
    margin: 0px;
}

.link{
    color: #f0dede;
}

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 


/** TEST TABLE CALLS-LIST */
   



/** END TEST TABLE CALLS-LIST  */

/** MAIN MENU  */

.logo {
    background-image: url("images/logo.svg");
    height: 20px;
    /*width: 130px;*/
    width: 90%;
    background-repeat: no-repeat;
    margin-top: 29px;
    margin-left: 10px;
    
}

.left-main-menu{
    position: fixed; 
    top: 0;
    bottom:0;
    left: 0px;
    float: left;
    width: 10%;
    font-size: 16px;
    background: #FFFFFF;
    font-style: normal;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.14); 
}

.left-main-menu hr{
    border: none; /* Убираем границу */
    height: 0px;
    width: 100px;
    float: left;
    margin-left: 20px;
    border: 0.5px solid #C0CFDB;
    transform: rotate(180deg); 
    margin-top: 25px; 
    
}

.menu-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #4B6880;
    display: block;
    width: 100%;
    padding-top:50px;
}



.menu-bar li a{
    height: 40px;
    display: block;
    padding: 5px;
    padding-left: 20px;
    text-decoration: none;
    list-style-type: square;
    color: rgb(80, 78, 78);
}

.menu-bar li a:hover {
    background: #E6EAEE;
    border-right: 4px solid ;
    color: #0088F7;
}

.notifications-menu{
    position: absolute;
    background:#FA2929;
    width: 20px;
    height: 20px;
    border-radius: 36px;
    
}


/** END MAIN MENU  */

/** CONTENT */
.content{
    background-color: #E6EAEE;
      margin-top: 80px;
      margin-left: 23px;
      border-radius: 5px;
      width: 950px;
  }

.content-background{       
    background-color:  #E6EAEE;
    height: 100%;
    width: 90%;
    left: 10%;
    overflow: auto;
    position: absolute;
    overflow-x:hidden; 
    z-index: 0;

}

.content-background p{
    position: absolute;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    left: 2%;
    top: 23px;  
    color: #4B6880;
}

.content-background hr{
    border: none; /* Убираем границу */
    height: 0px;
    width: 70%;
    position: absolute;
    top: 60px; 
    left: 2%;
    border: 0.4px solid #C0CFDB;
    transform: rotate(180deg); 
}

.content-area{
    background: #F9F9F9;
    margin-top: 105px;
    margin-left: 23px;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 40px;
}

.left-content-area{
    background: #F9F9F9;
    margin-top: 105px;
    margin-left: 23px;
    border-radius: 5px;
    margin-bottom: 40px;
    width: 800px;
}

.right-content-area{
    margin-top: 110px;
    padding-left: 40px;
}

.content-input{
    font-family: 'Raleway';  
    padding: 10px;
    margin: 0.5%;
}

.content-input-area{
    box-sizing: border-box;
    padding: 20px;
}

.map{
    /* map in input calls area */
    margin: 0.5%;
    width: 435px;
    height: 435px;
    box-shadow: 0px 3px 4px 0px #0000001A;
    border: 0px;
}

.content-calls{
    padding: 0px;
    font-family: 'Raleway';
    background-color: #eceaea;
}

.content-redact{
    background-color: lightgreen;
    padding: 10px;
    margin: 0.5%;
    
    font-family: 'Raleway';
    
}

.filters{
  
    margin-top: 140px;
    margin-left: 30px;
    width: 326px;
}

.filters-secondary{
    margin-top: 100px;
    margin-left: 20px;
    width: 326px;
}

/** END CONTENT */

.button-new{

    font-weight: normal;
    font-size: 20pt;
    padding-left: 25px;
    width: 324px;
    margin-left: 13px;
    height: 60px;
  }


.main-table th{
    border: 1px solid  black;
}

.main-table{
    width: 100%;
}

.input-block{
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    border-bottom: 2px solid #DFE7ED;
    border-left: 7px solid #F6F6F6;
    
}

.fixed-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 90px;
    
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
}

/** Текстовое поле с шириной */
.textarea{
    width: 700px;
    height: 100px;
}


html, body { height: 100%; }
body { margin: 0; font-family: 'Rubik', sans-serif; }


