   
<form #myForm="ngForm" #signupForm = "ngForm" [formGroup]="callForm" (change)="saveCookies()">     

    <div class="row">
        <div class="col">    
            <div class="content-input">
                <div class="form-group">
                    Первичная информация
                    <input class="form-control" formControlName="info"  type="text"   name="info" required  />        
                </div>

                <div class="form-group">
                    Время
                    <input class="form-control" formControlName="time" type="time"   name="time"   required/>        
                </div>

                <div class="form-group">
                    Дата
                    <input class="form-control" formControlName="date"  type="date"   name="date"  required />        
                </div>

                <div class="form-group">
                    Кто выслал
                    <input class="form-control" formControlName="whoSend" type="text"   name="whoSend"  required />        
                </div>

                <div class="form-group">
                    Кто принял
                    <input class="form-control" formControlName="whoAccept" type="text"   name="whoAccept"  required />        
                </div>

                <div class="form-group">
                    Адрес
                    <ngx-dadata  [config]="configAddress" formControlName="address" name="address" (selected)="onAddressSelected($event)" id="address" required ></ngx-dadata> 
                </div>

                <div class="container">
                    <div class="row">

                        <div class="col">
                            <div class="form-group">
                                Время выезда
                                <input class="form-control" formControlName="time_gone" type="time"   name="time_gone"  required />        
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                Время прибытия
                                <input class="form-control" formControlName="time_arrive" type="time"   name="time_arrive"  required />        
                            </div>  
                        </div> 
                        
                        <div class="col">
                            <div class="form-group">
                                Время локализации
                                <input class="form-control" formControlName="time_local" type="time"   name="time_local"  required />        
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="form-group">
                                Время устранения
                                <input class="form-control" formControlName="time_destroy" type="time"   name="time_destroy"  required />        
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="form-group">
                                Время возвращения
                                <input class="form-control" formControlName="time_back" type="time"   name="time_back"  required />        
                            </div>
                        </div>

                    </div>
                    <!--- col of buttons which set time -->
                    <div class="row">
                        
                        <div class="col">
                            <div class="form-group">
                                <button class="btn btn-warning offset-md-4" type="submit" (click)="setTimeToFormControl('time_gone')">Выезд</button>
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="form-group">
                                <button class="btn btn-warning offset-md-2" type="submit" (click)="setTimeToFormControl('time_arrive')">Прибытие</button>
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="form-group">
                                <button class="btn btn-warning offset-md-2" type="submit" (click)="setTimeToFormControl('time_local')">Локализация</button>
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="form-group">
                                <button class="btn btn-warning offset-md-2" type="submit" (click)="setTimeToFormControl('time_destroy')">Устранение</button>
                            </div>
                        </div>

                        
                        <div class="col">
                            <div class="form-group">
                                <button class="btn btn-warning offset-md-2" type="submit" (click)="setTimeToFormControl('time_back')">Возвращение</button>
                            </div>
                        </div>

                    </div>
                </div>           
                <div class="form-group">
                    Информация
                    <input class="form-control" formControlName="info_local" type="text"   name="info_local"  required />        
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                Погибло
                                <input class="form-control" formControlName="died" type="number"   name="died"  required />        
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                Спасено
                                <input class="form-control" formControlName="saved" type="number"   name="saved"   required/>        
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                Пострадало
                                <input class="form-control" formControlName="affected" type="number"   name="affected"  required />        
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group"> 
                    <button class="btn btn-primary" type="submit" (click)="save(calls)" [disabled]="!signupForm.form.valid">  Ввод </button>
                </div>
            </div>
        </div>

        <div class="col">
            <!--- Yandex maps block -->
            <div id="map" class="map"></div>
        </div>
    </div>
</form>  