<p>Вызовы / Новый вызов №</p>
<div class="row">
    <div class="col-md-auto">
        <div class="left-content-area">
            <form #myForm="ngForm" #signupForm = "ngForm" [formGroup]="callForm" (change)="saveCookies()">     

                <div class="row">
                    <div class="col">    
                    <div class="input-block">
                            Первичная информация
                            <input class="form-control" formControlName="info"  type="text"   name="info" required  />        
                    </div>

                    <div class="input-block">
                        <div class="row">
                                <div class="col">
                                    Время
                                    <input class="form-control" formControlName="time" type="time"   name="time"   required/> 
                                </div>
                                <div class="col">
                                    Дата
                                    <input class="form-control" formControlName="date"  type="date"   name="date"  required /> 
                                </div>
                            </div>
                    </div>

                    <div class="input-block">
                            Кто выслал
                            <input class="form-control" formControlName="whoSend" type="text"   name="whoSend"  required /> 
                    </div>

                    <div class="input-block">
                            Кто принял
                            <input class="form-control" formControlName="whoAccept" type="text"   name="whoAccept"  required /> 
                    </div>
                            
                    <div class="input-block">
                            Адрес
                            <ngx-dadata  [config]="configAddress" formControlName="address" name="address" 
                                (selected)="onAddressSelected($event)" id="address" required ></ngx-dadata>
                    </div>

                    <div class="input-block">
                    
                            <div class="row" style="padding-top: 8px;">
                                <div class="col">
                                    
                                    <input class="form-control" formControlName="time_gone" type="time"   name="time_gone"  required />
                                </div>

                                <div class="col">
                                    <button class="btn btn-warning offset-md-4" type="submit" (click)="setTimeToFormControl('time_gone')">Выезд</button>
                                </div>
                            
                                <div class="col">
                                    <input class="form-control" formControlName="time_arrive" type="time"   name="time_arrive"  required /> 
                                </div>

                                <div class="col">
                                    <button class="btn btn-warning offset-md-2" type="submit" (click)="setTimeToFormControl('time_arrive')">Прибытие</button>
                                </div>

                            </div>

                            <div class="row " style="padding-top: 8px;">

                                <div class="col">
                                    <input class="form-control" formControlName="time_local" type="time"   name="time_local"  required />
                                </div>

                                <div class="col">
                                    <button class="btn btn-warning offset-md-2" type="submit" (click)="setTimeToFormControl('time_local')">Локализация</button>
                                </div>

                                <div class="col">
                                    <input class="form-control" formControlName="time_destroy" type="time"   name="time_destroy"  required /> 
                                </div>

                                <div class="col">
                                    <button class="btn btn-warning offset-md-2" type="submit" (click)="setTimeToFormControl('time_destroy')">Устранение</button>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 8px;">
                                <div class="col">
                                    <input class="form-control" formControlName="time_back" type="time"   name="time_back"  required />
                                </div>
                                <div class="col">
                                    <button class="btn btn-warning offset-md-2" type="submit" (click)="setTimeToFormControl('time_back')">Возвращение</button>
                                </div>
                            </div>
                    </div>

                    <div class="input-block">
                            Информация
                            <input class="form-control" formControlName="info_local" type="text"   name="info_local"  required />    
                    </div>

                    <div class="input-block">
                        <div class="row">
                                <div class="col">
                                    Погибло
                                    <input class="form-control" formControlName="died" type="number"   name="died"  required />      
                                </div>

                                <div class="col">
                                    Спасено
                                    <input class="form-control" formControlName="saved" type="number"   name="saved"   required/>        
                                </div>

                                <div class="col">
                                    Пострадало
                                    <input class="form-control" formControlName="affected" type="number"   name="affected"  required />        
                                </div>
                        </div>
                    </div>

                          <!-- reserved for personal-->
                    <div class="input-block">
                     
                        <mat-form-field class="example-chip-list">
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let worker of workers;let indx=index;" [selectable]="selectable" [removable]="removable" (removed)="remove(worker,indx)">
                                    {{worker.last_name}}
                                    <mat-icon matChipRemove *ngIf="removable">X</mat-icon>
                                </mat-chip>
                                <input placeholder="Введите работников" #workerInput [formControl]="workerCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                <mat-option *ngFor="let worker of filteredworkers | async" [value]="worker">
                                    {{worker.last_name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        
                    </div>
                        <!-- !end -->
                    
                    <div class="input-block">
                        <button class="btn btn-primary" type="submit" (click)="save(calls)" [disabled]="!signupForm.form.valid">  Ввод </button>
                        <button class="btn btn-info" printSectionId="pagetoprint" ngxPrint>Распечатать</button>
                    </div>
                    
                    


                    </div>

                    
                </div>
            </form>  
        </div>
    </div>

    <div class="col">
        <div class="right-content-area">
    <!--- Yandex maps block -->
            <div id="map" class="map"></div>
        </div>
    </div>
</div>


<!-- TODO: PRINT SELECTION HIDED IN THE PAGE  ------------------------------------------------------>
<div id="pagetoprint" style="opacity: 100%;">
    <p style="display: none;">

<!-- ?-------------------------        INPUT DOCUMENT ------------------------ -->

<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="Kiryushin">
	<META NAME="CREATED" CONTENT="20210522;114300000000000">
	<META NAME="CHANGEDBY" CONTENT="Kiryushin">
	<META NAME="CHANGED" CONTENT="20210522;114400000000000">
	<META NAME="AppVersion" CONTENT="15.0000">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
	<STYLE TYPE="text/css">
	
		@page { margin-top: 0.47in; margin-bottom: 0.47in }
		P { margin-bottom: 0.08in; direction: ltr; line-height: 100%; widows: 2; orphans: 2 }
		P.western { font-family: "Times New Roman", serif; font-size: 12pt }
		P.cjk { font-family: "Times New Roman"; font-size: 12pt; so-language: ru-RU }
		P.ctl { font-family: "Times New Roman"; font-size: 12pt }
	
	</STYLE>
</HEAD>





        <BODY LANG="ru-RU" DIR="LTR">
        <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase"><B>АВАРИЙНО-СПАСАТЕЛЬНОЕ
        ФОРМИРОВАНИЕ</B></SPAN></P>
        <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase"><B>РОО
        ОСПСО</B></SPAN></P>
        <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in; text-transform: uppercase">
        <BR>
        </P>
        <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase"><B>Наряд-задание
        №_________</B></SPAN></P>
        <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
        </P>
        <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><B>на
        производство аварийно-спасательных
        работ</B></P>
        <P CLASS="western" STYLE="margin-bottom: 0in"><A NAME="_GoBack"></A><BR>
        </P>
        <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Время
        получения сигнала_____________________               
            «____»_________________2021 года<BR><BR>
        </P>
        <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Источник
        информации_________________________________________________________________<BR><BR>
        </P>
        <TABLE WIDTH=680 CELLPADDING=7 CELLSPACING=0>
          <COL WIDTH=98>
          <COL WIDTH=99>
          <COL WIDTH=99>
          <COL WIDTH=99>
          <COL WIDTH=99>
          <COL WIDTH=99>
          <TR VALIGN=TOP>
            <TD WIDTH=98 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">dasda</SPAN></P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">asasd</SPAN></P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
            <TD WIDTH=98 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">ds</SPAN></P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">asd</SPAN></P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
            <TD WIDTH=98 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">d</SPAN></P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">dsadsa</SPAN></P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">dasdasd</SPAN></P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">asdas</SPAN></P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">dsad</SPAN></P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
            <TD WIDTH=98 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
            <TD WIDTH=98 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">das</SPAN></P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">dd</SPAN></P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">sd</SPAN></P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">sad</SPAN></P>
            </TD>
          </TR>
          <TR VALIGN=TOP>
            <TD WIDTH=98 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
            <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
              <P CLASS="western" ALIGN=JUSTIFY><BR>
              </P>
            </TD>
          </TR>
        </TABLE>
        <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
        </P>
        <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
        </P>
        <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
        </P>
        <P CLASS="western" STYLE="margin-bottom: 0in">Краткое описание
        ЧС/ описание работ:
        ___________________________________________________
        <BR>____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</P>
        <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
        </P>
        <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
        </P>
        <P CLASS="western" STYLE="margin-bottom: 0in"><BR>
        </P>
        <P CLASS="western" STYLE="margin-bottom: 0in">Руководитель
        ликвидации
        ЧС	______________________		__________________________</P>
        <P CLASS="western" STYLE="margin-bottom: 0in"><BR>
        </P>
        </BODY>
<!-- ?-------------------------      END  INPUT DOCUMENT ------------------------ -->
    </p>
</div>

