<div id="demo" style="opacity: 100%;">
    <p style="display: none;">
    <BODY LANG="ru-RU" DIR="LTR">
    <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase"><B>АВАРИЙНО-СПАСАТЕЛЬНОЕ
    ФОРМИРОВАНИЕ</B></SPAN></P>
    <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase"><B>РОО
    ОСПСО</B></SPAN></P>
    <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in; text-transform: uppercase">
    <BR>
    </P>
    <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase"><B>Наряд-задание
    №_________</B></SPAN></P>
    <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
    </P>
    <P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><B>на
    производство аварийно-спасательных
    работ</B></P>
    <P CLASS="western" STYLE="margin-bottom: 0in"><A NAME="_GoBack"></A><BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Время
    получения сигнала_____________________               
        «____»_________________2021 года<BR><BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Источник
    информации_________________________________________________________________<BR><BR>
    </P>
    <TABLE WIDTH=680 CELLPADDING=7 CELLSPACING=0>
      <COL WIDTH=98>
      <COL WIDTH=99>
      <COL WIDTH=99>
      <COL WIDTH=99>
      <COL WIDTH=99>
      <COL WIDTH=99>
      <TR VALIGN=TOP>
        <TD WIDTH=98 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">dasda</SPAN></P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">asasd</SPAN></P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
      </TR>
      <TR VALIGN=TOP>
        <TD WIDTH=98 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">ds</SPAN></P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">asd</SPAN></P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
      </TR>
      <TR VALIGN=TOP>
        <TD WIDTH=98 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">d</SPAN></P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">dsadsa</SPAN></P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">dasdasd</SPAN></P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">asdas</SPAN></P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">dsad</SPAN></P>
        </TD>
      </TR>
      <TR VALIGN=TOP>
        <TD WIDTH=98 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
      </TR>
      <TR VALIGN=TOP>
        <TD WIDTH=98 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">das</SPAN></P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">dd</SPAN></P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">sd</SPAN></P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><SPAN LANG="en-US">sad</SPAN></P>
        </TD>
      </TR>
      <TR VALIGN=TOP>
        <TD WIDTH=98 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
        <TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
          <P CLASS="western" ALIGN=JUSTIFY><BR>
          </P>
        </TD>
      </TR>
    </TABLE>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in">Краткое описание
    ЧС/ описание работ:
    ___________________________________________________
    <BR>____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
    </P>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in"><BR>
    </P>
    <P CLASS="western" STYLE="margin-bottom: 0in">Руководитель
    ликвидации
    ЧС	______________________		__________________________</P>
    <P CLASS="western" STYLE="margin-bottom: 0in"><BR>
    </P>
    </BODY>
   
  </p>
   
</div>