<p>Оборудование / Все оборудование</p>

<div class="row">
    <div class="col">

        <div class="content" style="padding: 20px;">
            <div class="row">
                <div *ngFor = "let technic of technics" class="row-md-3">
                  <div class="technic-item" [routerLink]="['/technics',this.technic.id ]">

                    <div class="row">

                        <div class="col-sm-2">
                          <img class="avatar-technic" src={{technic.img_url}}>
                        </div>

                        <div class="col-md-3 pt-3">
                          ID:{{technic.id}} 
                          <br>
                          {{technic.name}}
                          <br>
                          {{technic.type}}
                        </div>

                        <div class="col col-lg-6">

                          <div class="row">
                            <div class="description">
                              Описание:
                              <br>
                              {{technic.description}}
                            </div>
                            
                          </div>

                          <div class="row">
                            <a [routerLink]="['/service-create',technic.id]"> Провести обслуживание </a>
                          </div>
                         
                        </div>
                    </div>
                   
                   
                    
                  
                  </div>
                  

                </div>
            </div>
        </div>


    </div>
    <div class="col">

        <div class="filters-secondary">
            <div class="row">
              <a class="btn btn-primary btn-lg" href="../technic-create">Новoе оборудование</a>
          
            </div>
           
            <div class="row pt-4 w-auto p-3">
              
              <input class="form-control" formControlName="whoAccept" type="text" placeholder="Поиск">
           
            </div>
      
            <div class="row pt-2">
              <mat-accordion class="example-headers-align" multi>
      
                <!--* start of collapse panel description-->
                <mat-expansion-panel>
      
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       Тип оборудования
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <mat-form-field>
                      <mat-label>Класс</mat-label>
                      <input matInput>
                    </mat-form-field>
              
                </mat-expansion-panel>
                <!--* END-->
      
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Дата принятия
                    </mat-panel-title>
                     
                  </mat-expansion-panel-header>
              
                  <mat-form-field>
                    <mat-label>Группа крови</mat-label>
                    <input matInput>
                  </mat-form-field>
              
                </mat-expansion-panel>
      
                <!--** NEXT--->
      
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Пробег
                    </mat-panel-title>
                     
                  </mat-expansion-panel-header>
              
                  <mat-form-field>
                    <mat-label>Группа крови</mat-label>
                    <input matInput>
                  </mat-form-field>
              
                </mat-expansion-panel>
      
                 <!--** NEXT--->
      

      
                   <!--** NEXT--->
      
      
              </mat-accordion>
      
            </div>
          </div>



    </div>
</div>