.technic-item{
    width: 900px;
    height: 140px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0px 4px 3px 0px #0000001A;
}


.avatar-technic {
    vertical-align: middle;
    border-radius: 50%;
    width: 113px;
    height: 113px;
    margin-left: 11px;
  }

.description{
    width: 90%;
    height:100px ;
    overflow: hidden;

}