<div class="content-calls">
    <table class="main-table" >
        <thead>
            <tr>
                <th>Информация</th>
                <th>Дата</th>
                <th>Время</th>
                <th>Адрес</th>
                <th>Спасено</th>
                <th>Умерло</th>
                <th>Пострадало</th>
                <th>Редактировать</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tempCalls of calls">
                <td>{{ tempCalls.info }}</td>
                <td>{{ tempCalls.date }}</td>
                <td>{{ tempCalls.time }}</td>
                <td>{{ tempCalls.address }}</td>
                <td>{{ tempCalls.saved }}</td>
                <td>{{ tempCalls.died }}</td>
                <td>{{ tempCalls.affected }}</td>
                <td>
                    <button class="btn btn-danger" type="button"  (click)="delete(tempCalls)" >  Удалить </button>
                    <button class="btn  btn-warning" type="button" routerLink="/redactCall" (click)="update(tempCalls)" >  Редактировать </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>