<div class="left-main-menu">  
  
    <div class="logo">
    </div>   
    <hr>  
    <nav>
      <ul class="menu-bar">
          <li><a routerLink="/calls">Вызовы</a></li>
          <li><a routerLink="/input" >Заполнить</a></li>
          <li><a routerLink="/workers-create" >Персонал</a></li>
          <li><a routerLink="/calls" >Статистика</a></li>
          <li><a routerLink="/technic-create" >Оборудование</a></li>
      </ul>
    </nav>  
    <hr>       
    
    <nav>
      <ul class="menu-bar">
          <li>
            <a routerLink="/calls">События </a> 
            
          </li>
      </ul>
    </nav>  
    
</div>     
 

<div class="content-background">
  <p>{{titlePage}} 
  <hr>
  
  <!--<div class="content-area"></div> -->
    <router-outlet></router-outlet> 
  

</div>   
     

