

  
    <div class="header-desktop">
      <a class="link" href=#> Шапка</a>
   
<div class="container">           
  <div class="row">
    <div class="col">       
          <div class="left-main-menu">
            <nav>
              <ul class="menu-bar">
                  <li><a routerLink="/calls" routerLinkActive="active-link" >Заявки  </a></li>
                  <li><a routerLink="/input" routerLinkActive="active-link">Заполнить</a></li>
              </ul>
            </nav>
          </div>      
    </div>
   
    

      <div class="main-content">
        <router-outlet></router-outlet>
      </div>

    
  </div>      
</div>
