  
   
<div class="row">
  <div class="col">
    <div class="left-main-menu">  
      
        <div class="logo">
        </div>   
        <hr>  

        <nav>
          <ul class="menu-bar">
              <li><a routerLink="/calls">Вызовы</a></li>
              <li><a routerLink="/input" >Заполнить</a></li>
              <li><a routerLink="/calls" >Смены</a></li>
              <li><a routerLink="/calls" >Статистика</a></li>
              <li><a routerLink="/calls" >Оборудование</a></li>
          </ul>
        </nav>                   
    </div>     
  </div>

  <div class="content-background">
    <div class="content-area">
      <router-outlet></router-outlet> 
    </div>  
  </div>   
</div>      

